Reto_n8n_Cumpleanos/Cumpleanos.json
{
  "name": "Cumpleaños",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Z9GqY5W8tbwp3rfnJLR8K4XZDL-qw3gqUNjHJjHWuEI",
          "mode": "list",
          "cachedResultName": "Cumpleaños",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z9GqY5W8tbwp3rfnJLR8K4XZDL-qw3gqUNjHJjHWuEI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z9GqY5W8tbwp3rfnJLR8K4XZDL-qw3gqUNjHJjHWuEI/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "48e91df7-1a22-44d2-914a-6ccb1fe93acb",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "bWDDegRCU37I0uU2",
          "name": "Google Sheets Trigger account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slides.googleapis.com/v1/presentations/1Nrae2eZZYuOweM0BZ5S8QUBd7BwmuQ4CKQkdVIdQZBM:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSlidesOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"duplicateObject\": {\n        \"objectId\": \"g2031523bdb7_0_0\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "13e68eaa-3078-4908-8c71-0de1a4c44b19",
      "name": "HTTP Request1",
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "HjUq92sIMlYYk1ho",
          "name": "Google Slides account"
        }
      }
    },
    {
      "parameters": {
        "operation": "replaceText",
        "presentationId": "1Nrae2eZZYuOweM0BZ5S8QUBd7BwmuQ4CKQkdVIdQZBM",
        "textUi": {
          "textValues": [
            {
              "pageObjectIds": "=={{ $('HTTP Request1').item.json.replies[0].duplicateObject.objectId }}",
              "text": "{{Nombre}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json.Nombre }}"
            }
          ]
        },
        "options": {
          "revisionId": ""
        }
      },
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [
        384,
        0
      ],
      "id": "ee8ebde4-d686-4f61-8ee9-d12a0fc6ed99",
      "name": "Replace text in a presentation1",
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "HjUq92sIMlYYk1ho",
          "name": "Google Slides account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Replace text in a presentation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace text in a presentation1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f3686c8-3ecb-4ca7-a86d-8f30f4b1bb20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2f1ae710e8e3ecb2e5e1f8ca4d395ef479be3414af8b7706e748c0c39d2e798"
  },
  "id": "OkpFTZg7pUaO2on5",
  "tags": []
}